UPSTOX_CLIENT_ID=your_upstox_client_id
UPSTOX_CLIENT_SECRET=your_upstox_client_secret
UPSTOX_REDIRECT_URI=http://localhost:8080/auth/upstox/callback

MARKETAUX_API_TOKEN=your_marketaux_api_token

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=quanttora
DATABASE_USER=quanttora_app
DATABASE_PASSWORD=your_database_password
DATABASE_SSL=false